body{
	background-color: #90AFC5;
	text-align: center;
	font-family: 'Lato', sans-serif;
	width: 45%;
	margin:auto;
}

#mypic {
	width: 480px;
	height: 270.5px;
	border: 2px solid white;
	border-radius: 50%;
}

#namePic{
	background-color: #336B87;
	color:white;
	font-size: 40px;
	padding: 0px;
}

#namePic p{
	margin: auto;
}

#aboutMe{
	opacity: 0.5;
}

#aboutMe:hover {
	opacity: 1.0;
}

#whyCS{
	opacity: 0.5;
	background-color: #336B87;
	color: white;
	padding: 5px;
}

#whyCS:hover {
	opacity: 1.0;
}

#favePL{
	opacity: 0.5;
}

#favePL:hover {
	opacity: 1.0;
}

#addInfo{
	opacity: 0.5;
	background-color: #336B87;
	color: white;
	padding: 0.5px;
	font-size: 25px;
}

#addInfo:hover{
	opacity: 1.0;
}

#addInfo ul{
	padding: 0px;
	margin: 1px;
	margin-top: -30px;
	margin-bottom: 20px;
	list-style: none;
}

#hobbies{
	padding: 0.5px;
	background-color: #90AFC5;
	color:black;
}

#faveFoodColor{
	background-color: #90AFC5;
	font-size: 35px;
	color: black;
	
}

#faveFoodColor p{
	font-family: 'Pacifico', cursive;
	margin-top: -50px;
}

#pizza{
	color: orange;
}

#redFave{
	color:red;
	font-size: 70px;
	width: 40%;
	margin: auto;
}